<%= form_with(model: preprocessing, url: url) do |form| %>
  <% if preprocessing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preprocessing.errors.count, "error") %> prohibited this preprocessing from being saved:</h2>

      <ul>
        <% preprocessing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
