<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @preprocessing.title %>
</p>

<p>
  <strong>Client:</strong>
  <%= @preprocessing.client %>
</p>

<p>
  <strong>Url:</strong>
  <%= @preprocessing.url %>
</p>

<p>
  <strong>Sent to preprocessing at:</strong>
  <%= @preprocessing.sent_to_preprocessing_at %>
</p>

<p>
  <strong>Preprocessing duration:</strong>
  <%= preprocessing_duration(@preprocessing) %>
</p>

<% if @preprocessing.preprocessed_file_data.present? %>
  <p>
    <strong>Preprocessed data:</strong>
    <%= display_pretty_json(@preprocessing.preprocessed_data) %>
  </p>
<% end %>

<%= redo_preprocess %>

<%= link_to 'Edit', edit_preprocessing_path(@preprocessing) %> |
<%= link_to 'Back', preprocessings_path %>
