<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to OSP toolbox</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to documents_path, class: "card-actions" do %>
        <div class="card text-center">
          <%= image_tag "document.svg", class: "card-img-top", alt: t(".comments_mapping.alt") %>
          <div class="card-body">
            <h2 class="card-title"><%= t(".comments_mapping.title") %></h2>
            <p class="card-text">
              <%= t(".comments_mapping.description") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= link_to preprocessings_path, class: "card-actions" do %>
        <div class="card text-center">
          <%= image_tag "services.svg", class: "card-img-top", alt: t(".preprocessings.alt") %>
          <div class="card-body">
            <h2 class="card-title"><%= t(".preprocessings.title") %></h2>
            <p class="card-text">
              <%= t(".preprocessings.description") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= link_to processings_path, class: "card-actions" do %>
        <div class="card text-center">
          <%= image_tag "ring-details.svg", class: "card-img-top", alt: t(".exploratory_data_analysis.alt") %>
          <div class="card-body">
            <h2 class="card-title"><%= t(".exploratory_data_analysis.title") %></h2>
            <p class="card-text">
              <%= t(".exploratory_data_analysis.description") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
