<div class="row">
  <div class="col">
    <h1>Documents</h1>
  </div>
</div>

<%= render "shared/search", search_query: :title_cont do %>
  <%= link_to "New Document", new_document_path, class: "btn btn-outline-primary" %>
<% end %>

<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th><%= sort_link(@query, :title) %></th>
      <th><%= sort_link(@query, :user) %></th>
      <th><%= sort_link(@query, :ready) %></th>
      <th>Archive</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.user.nickname %></td>
        <td><%= ready_to_process?(document) %></td>
        <td>
          <%= document_archive_for(document) %>
        </td>
        <td>
          <div class="row">
            <div class="col">
              <%= link_to "Show",
                          document,
                          class: "btn btn-outline-success" %>
            </div>
            <div class="col">
              <%= link_to "Edit",
                          edit_document_path(document),
                          class: "btn btn-outline-secondary" %>
            </div>
            <div class="col">
              <%= link_to "Destroy",
                          document,
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn btn-outline-danger" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @documents %>
</div>
