<h2>Input Files</h2>

<table class="table">
  <thead>
  <tr>
    <th>File</th>
    <th>Typename</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% input_files.each do |input_file| %>
    <tr>
      <td>
        <% if input_file.file.attachment %>
          <%= link_to "Download #{input_file.file.name}", rails_blob_path(input_file.file, disposition: "attachment") %>
        <% else %>
          Attachment is missing
        <% end %>
      </td>
      <td><%= input_file.typename %></td>
      <td><%= link_to "Show", document_input_file_path(document_id: input_file.document_id, id: input_file) %></td>
      <td><%= link_to "Edit", edit_document_input_file_path(document_id: input_file.document_id, id: input_file) %></td>
      <td><%= link_to "Destroy", document_input_file_path(document_id: input_file.document_id, id: input_file), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<% unless ready_to_process?(@document) %>
<%= link_to "New Input File", new_document_input_file_path(@document) %>
<% end %>
