<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= link_to @input_file.file.filename, @input_file.file if @input_file.file.attached? %>
</p>

<p>
  <strong>Type:</strong>
  <%= @input_file.type %>
</p>

<%= link_to 'Edit', edit_input_file_path(@input_file) %> |
<%= link_to 'Back', input_files_path %>
